{% extends 'base.html' %}

{% block main %}

<div class="row">
  <h1>{{asteroid.name}}</h1>
</div>
<div class="row">
    <h3>Track this Asteroid!</h3>
    <p>Enter your email address and Las Cumbres Observatory will schedule observations of {{asteroid.name}} just for you!</p>
    <form action="{% url 'asteroid_schedule' asteroid.id %}" method="post">
      {% csrf_token%}
      <div class="input-group">
      <input type="text" name="user_name" class="form-control" placeholder="Email address..." />
      <span class="input-group-btn">
        <input type=submit value="Track!" class="btn btn-default" />
      </span>
    </div>
    </form>
    <p>Everyone's image are automatically combined into the timelapse.</p>
    <p>If you've already joined this campaign, enter your email address and we'll look up the status of your images.</p>
</div>
<div class="row">
  <div class="col-md-8">
  {% if asteroid.active %}
  <video width="100%" controls>
     <source src="{{asteroid.timelapse_url}}" type="video/mp4" >
  Your browser does not support the video tag. Try <a href="asteroid.timelapse_url">downloading</a> instead.
  </video>
  <p class="caption">Timelapse made from {{asteroid.num_observations}} images, last updated {{asteroid.last_update}}</p>
{% endif %}
</div>
<div class="row">
  <div class="col-md-4">
    <h3>Information</h3>
    <p>{{asteroid.information|safe}}</p>
  </div>
  <div class="col-md-4">

  </div>
</div>

{% endblock %}
